*{
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgba(255,244,235,255);
}
.logo{
  height: 50px;
}
.menulist{
  display: flex;
  list-style: none;
}
.menulist li{
 margin: 0 20px; 
}
.menulist a{
  text-decoration: none;
  color: black;
}
.menulist a:hover{
  color: orange;
}

.hamburger{
  display: none;
  font-size: 30px;
}

@media (max-width:750px){
  .menulist{
    position: absolute;
    display: block;
    background-color: hsl(0, 0%, 20%);
    width: 100%;
    top: -100%;
    left: 0;
  }
  .menulist.active{
    top: 0;
  }
  .menu{
    width: 100%; 
  }
  .menulist li{
    margin: 20px 30px; 
   }
   .menulist a{
    color: white;
   }
  .hamburger{
    display: block;
    z-index: 100;
  }
}


/* Home page */
.home{
  height: 90vh;
  width: 100%;
  background-color: rgba(255,244,235,255);
  display: flex;
}
.home-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hi{
  display: flex;
  font-weight: 100;
  font-size: 1rem;
  color: #606060;
}
.name{
  font-size: 4.5em;
}
.typewrite{
  text-decoration: none;
  font-size: 2.2rem;
  color: hsl(24, 100%, 50%);
  font-weight: 900;

  &:after{
    content:'|';
    animation: blink 500ms linear infinite alternate;
  }
}
.resume-download{
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: #ff6600;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
}
.resume-download:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.home-img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.home-img img{
  width: 75%;
  border-radius: 50%;
  box-shadow: 2px 2px 10px black;
  margin-top: 30px;
  }

  @media (max-width:1080px){
    .hi{
      font-size: 15px;
    }
    .name{
      font-size: 55px;
    }
    .typewrite{
      font-size: 25px;
    }
    .home-img{
      align-items: center;
    }
    .resume-download{
      padding: 10px;
      font-size: 15px;
      margin-top: 20px;
    }
  }
  @media (max-width:750px){
    .home{
      flex-direction: column-reverse;
      justify-content: space-around;
    }
    .home-img, .home-text{
      width: 100%;
    }
    .home-img img{
      width: 18rem;
    }
    .hi{
      font-size: 13px;
    }
    .name{
      font-size: 45px;
    }
    .typewrite{
      font-size: 20px;
    }
  }


  /* About page styles */
  .about-container{
    width: 100%;
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 9rem 0px;
  }
  .about-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-img img{
    width: 470px;
    height: 100vh;
    filter: brightness(110%);
    border-radius: 10px;
  }
  .about-text{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 0 50px 0 0;
    font-size: 20px;
  }
  .about-heading{
    display: flex;
    color: #606060;
  }
  .heading-about{
    padding: 2rem 0;
    font-weight: 800;
  }
  .about-paragraph{
    color: #606060;
    font-size: 1rem;
  }
  .projects-experience{
    display: flex;
    width: 100%;
    margin-top: 2rem;
  }
  .project, .experience{
    display: flex;
    margin: 10px;
    width: 40%;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-around;
  }
  .project img, .experience img{
    width: 4rem;
  }
  .project span, .experience span{
    color: #ff6600;
   }
   .about-points{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
   }
   .about-point{
    display: flex;
    margin: 0.5rem 2rem;
    color: #606060;
    font-size: 1rem;
   }
   .check{
    margin-right: 0.6rem;
    color: #ff6600;
   }

   @media (max-width:960px){
    .about-container{
      flex-direction: column;
      margin: 4rem 0rem;      
    }
    .about-img{
     display: none;
    }
    .about-text{
      width: 100%;
      padding: 0 20px;
    }
    .about-container h1{
      font-size: 1.5rem;
    }
    
  .projects-experience{
    flex-direction: column;
  }
  .project, .experience{
    width: 100%;
    font-size: 0.8rem;
    justify-content: left;
  }
  .project img, .experience img{
    width: 2rem;
  }
  .about-point{
    display: flex;
    margin: 0.5rem 1rem;
    color: #606060;
    font-size: 1rem;
   }
   }

   .services{
    display: grid;
    justify-items: center;
   }
   .services-heading{
    display: flex;
    justify-content: center;
    color: #606060;
    width: 100%;
   }
   .services-heading img{
    height: 1.2rem;
  }
   .services-i-offer{
    text-align: center;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
   }
.services-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.service{
  height: 250px;
  width: 270px;
  border: 1px solid #ff660053;
  display: block;
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 3%;
}
.service:hover{
  background-color: rgba(255,244,235,255);
}
.service i{
  color: #ff6600;
  font-size: 4rem;
  margin-bottom: 1.4rem;
}
.service h3{
  margin-bottom: 1.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.service p{
  text-align: center;
  color: #606060;
}

@media (max-width:920px){
.services-container{
  grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:610px){
.services-i-offer{
  font-size: 1.6rem;
}
.service i{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.service h3{
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.service p{
  text-align: center;
  color: #606060;
  font-size: 0.7rem;
}
.service{
  height: 150px;
  width: 150px;
  padding: 0.3rem;
  margin: 0.3rem;
  text-align: center;
}
.services{
  margin-top: 25rem;
 }
}


/* Skills Section */
#resume{
  padding: 3rem 0;
  text-align: center;
  background-color: rgba(255,244,235,255);
  height: 150vh;
}
.resume-container{
  text-align: justify;
  padding: 2rem 0rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.timeline{
  width: 2px;
  height: 110vh;
  background-color: black;
  margin-top: 5rem;
  position: absolute;
  left: 10rem;
}
.round{
  background-color: #ff6600;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
}
.round1{
  top: 13rem;
  left: 9.1rem;
}
.sections{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 5rem 0 0 20rem;
  height: 110vh;
}
.education{
  width: 90%;
  background-color: white;
  height: 33vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-content: center;
  justify-items: center;
}
.education-heading{
  position: absolute;
  top: 13.2rem;
  left: 11.5rem;
}
.edu{
  line-height: 2.3rem;
  border-left: 2px solid hsl(0, 0%, 88%);
  padding: 1rem;
}
.edu1{
  border: none;
}
.edu p{
  color: #606060;
}
.Skills-heading{
  position: absolute;
  top: 29.2rem;
  left: 11.5rem;
}
.round2{
  top: 29rem;
  left: 9.1rem;
}
.Skills{
  width: 90%;
  background-color: white;
  height: 33vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-content: center;
  justify-items: center;
}
.skill{
  line-height: 1.5rem;
  border-left: 2px solid hsl(0, 0%, 88%);
  padding: 1rem;
  
}
.skill1{
  border: none;
}
.skill p{
  color: #606060;
}
.round3{
  top: 45rem;
  left: 9.1rem;
}
.experience-heading{
  position: absolute;
  top: 45.2rem;
  left: 11.5rem;
}
.experience-section{
  width: 90%;
  background-color: white;
  height: 33vh;
  align-content: center;
  justify-items: center;
}
.experience1{
  line-height: 2rem;
  text-align: center;
}
.experience-section h2, .experience-section h3{
  color: #606060;
}
.responsive-heading{
  display: none;
}

@media (max-width:1000px){
  .responsive-heading{
    display: block;
    color: #ff6600;
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
  }
  .timelines{
    display: none;
  }
  .resume-container{
    height: 170vh;
    background-color: rgba(255,244,235,255);
  }
  .education, .experience-section, .Skills{
    margin: 0 3rem;
  }
  .sections{
    margin: 0rem 0;
  }
}
@media (max-width:750px){
  .resume-container{
    height: 250vh;
    background-color: rgba(255,244,235,255);
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .education, .Skills, .experience-section{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3 1fr);
    height: auto;
    justify-items: center;
    text-align: center;
    align-items: space-around;
    margin-top: 2rem;
    font-size: x-small;
    width: 75%;
  }
  .skill, .edu{
    border-left: none;
    border-top: 1px solid #606060;
  }
  .skill1, .edu1{
    border: none;
  }
  .sections{
    margin: 0;
  }
}